# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
hft.jar

# Logs #
########
*.log

# Other #
#########
*.swp
.classpath
.metadata
.project
.settings

# Directories #
###############
build/*
simulations/*
logs/*
.settings/*
